@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

body{
    margin: 0;
}

.masterScreen{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.leftUIbar{
    background-color: rgb(8, 15, 46);
    width: 12em;
    display: flex;
    flex-direction: column;
}

.rightContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.headerBar{
    background-color: rgb(255, 255, 255);
    height: 8em;
}

.mainContent{
    background-color: rgb(228, 213, 185);
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 1em .5em 1em .5em;
}

.boxTitleText{
    position: absolute;
    margin-top: -1.2em;
    font-size: x-large;
    font-weight: 700;
}

.projectsBox{
    background-color: red;
    grid-row: span 2;
}

.projectsCard{
    background-color: white;
    border-radius: 5px;
    height: 90%;
    margin: 1em;
}

.announcementsBox{
    background-color: brown;
    grid-row: span 3;
}

.trendingBox{
    background-color: royalblue;
    grid-row: span 4;
}

.leftDivIcon{
    width: 22px;
    height: 22px;
    margin-right: .5em;
}

.topLeftDivIcon{
    width: 26px;
    height: 26px;
    margin-right: .25em;
}

.topLeftLink{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Albert Sans";
    font-weight: 800;
    font-size: 22px;
    margin: .5em 0 1em 1em;
}

.leftLink{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Albert Sans";
    font-weight: 800;
    font-size: 18px;
    margin: .5em 0 .5em 1.25em;
}